[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyterlab = "*"
beautifulsoup4 = "*"
pandas = "*"
requests = "*"
ipykernel = "*"
selenium = "*"
markdownify = "*"
xlrd = "*"
openpyxl = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
